@charset "UTF-8";

/**
 * @author Olivier Roy <2066237@csfoy.ca>
 *
 * TABLE DES MATIERES
 * Typographie
 * Styles de base et reset normalize
 * Grille de mise en page
 * Variables  & Font sizes, family, weight, line-height, etc.
 ******* Utilitaires + navigation entete
 ******* Éléments de design graphiques
 *** Niveau 1 - Accueil
 ******* Grid
 ******* Grid names
 *** Niveau 1 - Rose des vents
 *** Niveau 1 - Crédits
 *** Niveau 2 - Gabarit page Titre
 *** Niveau 2 - Gabarit pages Photo et texte
 ******* Background pages photo et texte
 ******* Navigation contenu
 ******* Contenu
 ******* Pagination bas de page  (footer)
 */

/* Typographie
   ========================================================================== */
   @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

   

/* Styles de base et reset normalize
   ========================================================================== */
   @import "normalize.css";
   @import "utilitaires.css";
   
   /* Grille de mise en page
   ========================================================================== */
   @import "grille.css";

/* Variables  & Font sizes, family, weight, line-height, etc.   !!!!!! MOBILE FIRST !!!!!!
   ========================================================================== */
:root {
   --color-main: #0F242F; /* bleu foncé*/
   --color-secondary1: #FFB703;  /* Jaune éléments intéractifs*/
   --color-secondary2: #FB8500;  /* Orange HOVER éléments intéractifs*/
   --color-text1: #FFF; /* Blanc texte principale*/
   --color-text2: #8ECAE6; /* Bleu pâle texte secondaire*/

   --font-family1: 'Poppins', sans-serif;
   --font-size-texte: 1.6rem;
   --font-size-logo: 4.5rem;

   --height-elements: 45px;
   --width-elements:45px;
   --height-elements: 60px;
   --width-elements:60px;
}

@media (min-width: 600px) {
   :root{
      --font-size-texte: 2.4rem;
      --font-size-logo: 4.8rem;
      --height-elements: 60px;
      --width-elements:60px;
   }
 }

* {
   font-size: 62.5%;
   font-weight: 400;
   line-height: 150%;
   font-family: var(--font-family1);
}




/* Utilitaires + navigation entete */

header {
   max-width: 1000px;
   margin-left: auto;
   margin-right: auto;
}

nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   max-height: 15vh;
   padding: 4em;
}

@media (min-width: 1000px) {
   nav {
      padding: 0;
   }
 }



a {
   text-decoration: none;
   color: var(--color-text1);
}

li {
   list-style-type: none;
}

footer {
   max-width: 1200px;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
   max-height: 10vh;
   line-height: 100%;
}

/*  Éléments de design graphiques */

.compass {
   fill: #FFB703;
   width: var(--width-elements);
   height: var(--height-elements);
}

.compass:hover {
   fill: #FB8500;
}

.logo {
   font-size: var(--font-size-logo);
   font-weight: bold;
}





/* Niveau 1 - Accueil
   ====================== */

   /*  Grid */
   @media (min-width: 600px) {
   .box {
      display: grid;
      grid-template-columns: 3fr 1fr 1fr 1fr 3fr;
      grid-gap: 1em;
      grid-template-areas:
          ". a a a a "
          ". b b b ."
          ". . c . ."
          "e e d d d"
          "f f f g g"
          ". h h h ."
          "i i i i i"
          ". j j j .";
  }

  /*  Grid names */

  .a {
   grid-area: a;
   margin-top: 20vh;
   margin-bottom: 5vh;
  }
  .b {
   grid-area: b;
   margin-top: 5vh;
   margin-bottom: 5vh;
  }
  .c {
   grid-area: c;
   margin-top: 10vh;
   margin-bottom: 10vh;
  }
  .d {
   grid-area: d;
   margin-top: 10vh;
   margin-bottom: 10vh;
  }
  .e {
   grid-area: e;
   margin-top: 10vh;
   margin-bottom: 10vh;
  }
  .f {
   grid-area: f;
   margin-top: 10vh;
   margin-bottom: 10vh;
  }
  .g {
   grid-area: g;
   margin-top: 10vh;
   margin-bottom: 10vh;
  }
  .h {
   grid-area: h;
   margin-top: 10vh;
   margin-bottom: 10vh;
  }
  .i {
   grid-area: i;
   margin-top: 10vh;
   margin-bottom: 10vh;
  }
  .j {
   grid-area: j;
   margin-top: 10vh;
   margin-bottom: 10vh;
  }

}
  .m20-home {
   max-width: 1000px;
   margin-left: auto;
   margin-right: auto;
   background-color: var(--color-main);
   color: var(--color-text1);
   font-size: var(--font-size-texte);
}

.m20-home p {
   font-size: var(--font-size-texte);
}
.m20-home p b {
   font-size: var(--font-size-texte);
}

.section2 {
   display: flex;
   justify-content: space-evenly;
   align-items: flex-start;
   text-align: center;
   margin-top: 2em;
   margin-bottom: 5em;
   background-color: #132A35;
}

.col1, .col2, .col3 {
   width: 333.333333333333333px;
}

.h2-home {
   font-size: 2.8rem;
   text-align: center;
   color: var(--color-secondary1);
}

.btn {
   background: #FFB703;
   background-image: -webkit-linear-gradient(top, #FFB703, #2980b9);
   background-image: -moz-linear-gradient(top, #FFB703, #2980b9);
   background-image: -ms-linear-gradient(top, #FFB703, #2980b9);
   background-image: -o-linear-gradient(top, #FFB703, #2980b9);
   background-image: linear-gradient(to bottom, #FFB703, #2980b9);
   -webkit-border-radius: 28;
   -moz-border-radius: 28;
   border-radius: 28px;
   color: #132A35;
   font-size: 20px;
   background: #FFB703;
   padding: 10px 20px 10px 20px;
   text-decoration: none;
   border: none;
 }
 
 .btn:hover {
   background: #FB8500;
   text-decoration: none;
 }

/* Niveau 1 - Rose des vents
   ====================== */


/* Niveau 1 - Crédits
   ====================== */


/* Niveau 2 - Gabarit page Titre
   ====================== */


/* Niveau 2 - Gabarit pages Photo et texte
   ====================== */

/* Background pages photo et texte */
.main-img-txt {
   display: flex;
   justify-content: space-between;
   align-items: center;
   max-width: 1200px;
   margin-left: auto;
   margin-right: auto;
}

.bg-img-txt {
   background: url(/images/m20/vii-img-m20.jpg) no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

   /*  Navigation contenu */

.arrow-left, .arrow-right {
   max-width: 200px;
   
}

.arrow {
   fill: #FFB703;
   width: 100px;
   height: 100px;
}

.arrow:hover {
   fill: #FB8500;
}

/*  Contenu */

.contenu {
   max-width: 800px;
   margin-left: auto;
   margin-right: auto;
   width: 100vh; 
   height: 70vh; 
   /* background-color: #FB8500; */
   display: flex;
   justify-content: center;
   align-items: center;
}

.texte {
   font-size: var(--font-size-texte);
   color: var(--color-text1);
}

/*  Pagination bas de page  (footer) */

   .pages {
      color: var(--color-text2);
      font-size: 1.8rem;
      margin: 0;
   }
   
   .recit {
      margin: 0;
      color: var(--color-text1);
      font-size: 2.4rem;
      margin-top: .5em;
   }

   



